* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Itim', cursive;
}

.inner-wrapper {
	width: 960px;
	margin: 10px auto;
}

.head {
	width: 370px;
	margin: auto;
	background-color: #afafaf;
	font-size: 24px;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
}

#box {
	width: 360px;
	height: 300px;
	overflow: auto;
	background-color: #d3e1e2;
	margin: auto;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}

#list {
	margin-top: 10px;
}

.chat {
	background-color: yellow;
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	border-radius: 10px;
	box-shadow: 3px 3px 7px #aeb2b2;
}

.inner-wrapper>.inp {
	text-align: center;
	margin-top: 10px;
}

#txt {
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #afafaf;
	font-family: 'Itim', cursive;
}

#send {
	padding: 10px;
	border-radius: 10px;
	background-color: yellow;
	font-size: 18px;
	border: 1px solid #FFF;
	box-shadow: 3px 3px 3px #aeb2b2;
	font-family: 'Itim', cursive;
}